.nobel-prize-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 3% 1%;
    margin: 20px;
    
}
.nomination-events{
    border-left: 2px solid grey;
    color: #ecc76f;
    text-align: left;
    padding: 10px;  
    margin-left: 20px;
}
.nomination-events h2{
    border-bottom: 2px solid grey;
}
.nomination-events h3{

    font-size: 16px;
    color: white;
    text-align: left;
    font-weight: 400;
    
}
.laureates-info{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.total-budget{
    color: white;
    font-weight: 500;
    text-align: left;
}
.budget-div{
    padding: 0% 5%;
}
.budget-div p{
    color: rgba(190, 190, 190, 0.781);
    text-align: left;
}

.total-budget span{
    color: #ecc76f;
    font-weight: 500;
}